
/*****************************************************/
/******* OVERIDE DOCSIFY ELEMENTS - COVER-PAGE *******/
/*****************************************************/

section.cover.show {
    background: rgb(6,11,43);
    background: linear-gradient(
        135deg,
        #060b2b 15%,
        #0c0f61 15%,
        #0e0e4a 50%,
        #0c0f61 85%,
        #060b2b 85%) !important;
}

@media (max-width: 820px) {
    section.cover.show {
        height: auto !important;
    }
}

/***************************************************/
/******* OVERIDE DOCSIFY ELEMENTS - SIDE BAR *******/
/***************************************************/

.app-name-link img {
    max-width: 140px !important;
}

/******************************************************/
/******* OVERIDE DOCSIFY ELEMENTS - TOP NAV BAR *******/
/******************************************************/

nav.app-nav {
    width: calc(100% - 300px);
    right: 1rem !important;
}

nav.app-nav li {
    padding: 0 !important;
    display: inline-block !important;
    margin: 0 0.3rem 1rem 0 !important;
}

nav.app-nav a {
    background: none;
    box-sizing: border-box;
    padding: 0.3rem;
    border: 2px solid #060b2b;
    border-radius: 3px;
}

nav.app-nav a.active, nav.app-nav a:active, nav.app-nav a:hover  {
    background: #060b2b !important;
    color: #fff;
}

@media (max-width: 820px) {
    nav.app-nav { display: none; }
}

a.github-corner {
    max-width: 80px;
}

/********************************************/
/******* CUSTOM ELEMENTS - COVER-PAGE *******/
/********************************************/

/* Container, for cover page elements */
.cover-page {
    max-width: 1000px !important;
    margin: 3rem auto !important;
}

/* Main Image for Cover Page */
img.cover-image {
    width: 200px;
    height: 200px;
}

/* Main Heading */
.cover-page h1{
    font-family: 'Cutive Mono', monospace;
    color: #fff !important;
    font-size: 4rem !important;
    margin: 1rem auto !important;
}

/* Sub-Heading */
.cover-page h2{
    font-family: 'Cutive Mono', monospace;
    color: #fff !important;
    font-size: 2rem !important;
    margin: 1rem auto !important;
    font-weight: 400;
}

/* Container for the Button links, within cover page*/
.cover-page .cover-link-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

/* Mobile- Container for the Button links, within cover page*/
@media (max-width: 820px) {
    .cover-page .cover-link-container {
        flex-direction: column;
    }
}

/* Link button (Navigates to main sections) */
.cover-page .cover-link-container .cover-link {
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 3px;
    
}

/* Main text within Button on cover page*/
.cover-page .cover-link-container .cover-link .link-title {
    font-family: 'Cutive Mono', monospace;
    color: #fff;
    font-size: 2rem;
    z-index: 1;
    text-shadow:
        0 0 1px rgba(0, 0, 0, 0.2),
        0 1px 0 rgba(0, 0, 0, 0.2);
}

/* Description of button, on cover page */
.cover-page .cover-link-container .cover-link .link-description {
    font-family: 'Cutive Mono', monospace;
    color: #fff;
    font-size: 1.1rem;
    border-top: 1px solid #fff;
    padding-top: 2px;
    z-index: 1;
}

/* View on GitHub button*/
.github-button {
    font-family: 'Cutive Mono', monospace;
    color: #fff !important;
    font-size: 2rem;
    margin-top: 1rem;
    display: block;
    margin: 1rem auto;
    border: 2px solid #fff;
    border-radius: 3px;
    background: #060b2b;
    padding: 0.2rem 0;
}

/* GitHub Star Button */
.github-star {
    position: absolute;
    top: 0.5rem;
    right: 5rem;
    width: 120px;
    opacity: 0.8;
}

@media (max-width: 820px) {
    .github-star {
        left: 0.5rem;
        width: 85px;
    }
}

/* License Text */
footer.license {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0.2rem;
}
@media (max-width: 820px) {
    footer.license {
        position: relative;
    }
}
footer.license span {
    color: #434c8a;
    bottom: 0;
    display: block;
    cursor: default;
    margin-top: 2%;
}
footer.license span a{
    text-decoration: underline;
}

/* Animated Action Buttons */
a.cover-link:link, a.cover-link:visited {
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.cover-link:link:after, a.cover-link:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.cover-link:link:hover:after, a.cover-link:visited:hover:after {
	height: 450%;
}
a.cover-link:link, a.cover-link:visited {
	position: relative;
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.cover-link:after {
	background: #060b2b;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
	transform: translateX(-50%) translateY(-50%) rotate(135deg);
}

/******************************************************/
/***************** NEW VERSION BANNER *****************/
/******************************************************/

.new-version {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 1;
    width: fit-content;
    margin: 0.25rem;
    padding: 0.5rem 1rem;
    background: #060b2b;
    color: white;
    border-radius: 10px;
    font-size: 1.6rem;
    font-family: 'Cutive Mono', monospace;
    border: 3px solid #ff0078;
    opacity: 0.8;
    text-decoration: none;
}
.new-version .link {
    color: #ff0078 !important;
    font-weight: bold;
}
