@import 'constants.scss';

div.p404 {
    width: 80%;
    margin: 1em auto;

    h1, h2 {
        text-align: center;
    }

    h1{
        font-weight: bold;
        font-size: 5em;
    }
    h2{
        font-size: 2em;
    }

    .p404-links{
        margin: 20% auto;
        a{
            text-align: center;
            color: $col-cover-secondry;
            min-width: 180px;
            display: inline-block;
            margin: 0.5em;
            padding: 0.25em 0.5em;
            border: 2px solid transparent;
            border-radius: 3px;

            &:hover{
                border: 2px solid $col-cover-secondry;
            }
        }
    }
}