
/* Default Website Font*/
$font: 'Raleway', sans-serif;

/* Website Cover Colors */
$col-cover-primary: #f4be1a;
$col-cover-secondry: #121f42;
$col-cover-pale: #E8E8E8;
$col-cover-dark: #272727;


/* Vonoroi Chart Colors */
$col-lines:  #121f42;
$col-initial-primary-fill:  #121f42;
$col-selected-polygon: #f4be1a;
$col-selected-site-fill:  #121f42;
$col-selected-site-stroke:  #121f42;
$col-sites-fill: none;
$col-sites-line:  #121f42;