
@import 'constants.scss';

.github-corner svg{
    fill: $col-cover-primary;
}

.progress{
    background: $col-cover-primary;
}

path.octo-body, path.octo-arm{
    fill: $col-cover-secondry;
}

section.cover .cover-main{ 

    /* Main cover title */
    h1 a span{
        color: $col-cover-primary;
    }
    
    /* Tag line / short description */
    blockquote p{
        color: $col-cover-pale;
    }

    /* All but the last button */
    p:last-child a{
        color: $col-cover-primary;
        border-radius: 3px;
        border: 2px solid $col-cover-primary;
        &:hover{
            background: lighten($col-cover-primary, 20);
            opacity: 1;
        }
    }

    /* Last button */
    p:last-child a:last-child{
        color: $col-cover-dark;
        background: $col-cover-primary;
        &:hover{
            background: lighten($col-cover-primary, 20);
            opacity: 1;
        }
    }

    .cover-footer{
        position: absolute;
        bottom: 2em;
        width: 100%;
        text-align: center;

        a{
            display: inline-block;
            color: $col-cover-primary;
            padding: 1em 2em;
            min-width: 200px;
            border-radius: 3px;
            border: 2px solid transparent;
            &:hover{
                border: 2px solid $col-cover-primary;
            }
        }
    }

}


.cover{
    height: auto !important;
    min-height: 30%;
    max-height: 50%;
}