
@import 'constants.scss';

/* Cover Page Layout */
html, body{
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
  }
  #vonoroi{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
  }

  /* Set fonts */
  h1, h2, h3, p, span, a, div {
      font-family: $font;
  }

  /* Underline colors for MD headings */
  .markdown-section a {
    color: $col-cover-secondry;
    &:hover{
      color: $col-cover-primary;
    }
  }

  /* Selected link color for sidebar */
  .sidebar ul li.active>a{
    color: $col-cover-primary;
  }

  /* Color of code snippets */
  .markdown-section code, .markdown-section pre>code{
    color: $col-cover-primary;
  }

  /* Color of burger menu */
  .sidebar-toggle span{
    background-color: $col-cover-primary;
  }

  section.content{
    background: #FFFFFF;
  }